.page {
  background: #b4e3f8;
  padding: 20px;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2%;
}

.login {
  display: initial;
  text-align: center;
}
.row {
padding: 13px;
}

.my-text {
  padding: 10px;
}