@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200&display=swap');

@import './page/index.scss';
@import './nav-bar/index.scss';

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family:  'Anek Devanagari', sans-serif;
}